.flip-card-wr {
    width: 100%;
    height: 100%;
    background-color: transparent;
    perspective: 1000px;
}
  
    .flip-card {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-card-wr:hover .flip-card {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-back {
        transform: rotateY(180deg);
    }

.squeeze-card {
    position: relative;
    width: 100%;
    height: 100%;
}

    .squeeze-card-front, .squeeze-card-back {
        position: absolute;
        transition: transform 0.8s;
        width: 100%;
        height: 100%;
    }

    .squeeze-card:hover .squeeze-card-front {
        transform: scaleX(0);
        transition: 0.5s;
    }

    .squeeze-card .squeeze-card-back {
        transform: scaleX(1);
    }

.right-corner-hide-card {
    position: relative;
    width: 100%;
    height: 100%;
}

    .right-corner-hide-card-front, .right-corner-hide-card-back {
        position: absolute;
        transition: transform 0.8s;
        width: 100%;
        height: 100%;
    }

    .right-corner-hide-card:hover .right-corner-hide-card-front {
        transform: translate(50%, 50%) scale(0, 0);
    }

.left-corner-hide-card {
    position: relative;
    width: 100%;
    height: 100%;
}

    .left-corner-hide-card-front, .left-corner-hide-card-back {
        position: absolute;
        transition: transform 0.8s;
        width: 100%;
        height: 100%;
    }

    .left-corner-hide-card:hover .left-corner-hide-card-front {
        transform: translate(-50%, -50%) scale(0, 0);
    }

.left-slide-card {
    position: relative;
    width: 100%;
    height: 100%;
}

    .left-slide-card-front, .left-slide-card-back {
        position: absolute;
        transition: transform .5s;
        width: 100%;
        height: 100%;
    }

    .left-slide-card:hover .left-slide-card-front {
        transform: translate(-50%) scaleX(0);
    }

.right-slide-card {
    position: relative;
    width: 100%;
    height: 100%;
}

    .right-slide-card-front, .right-slide-card-back {
        position: absolute;
        transition: transform .5s;
        width: 100%;
        height: 100%;
    }

    .right-slide-card:hover .right-slide-card-front {
        transform: translate(50%) scaleX(0);
    }