:root{
    --header-height: 60px;
    --user-name: "Anton Matsyshyn";

    --binary-blue-color: #00ADEE;
    --binary-yellow-color: #FFC712;
    --binary-red-color:#C22035;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-regular.ttf");
}

@font-face {
    font-family: "Gilroy Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("../fonts/gilroy-bold.ttf");
}

@font-face {
    font-family: "Gilroy Italic";
    src: url("../fonts/gilroy-medium-italic.ttf");
}

header {
    position: fixed;
    top: calc(-1*var(--header-height));
    height: var(--header-height);
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    animation: .5s linear 1s move-header;
    animation-fill-mode: forwards;

    z-index: 100;
}

@keyframes move-header {
    from {
        top: calc(-1*var(--header-height));
    }

    to {
        top: 0;
    }
}

#header-holder {
    display: flex;
    align-items: center;
    height: inherit;
    width: calc(100% - 2*var(--header-height));
}

    #bell {
        margin:5px;
        width: 20px;
        height: 20px;
        fill: #c6c6c6;
        transition: .5s;
    }

    #bell:hover {
        transition: .5s;
        fill: #a6a6a6;
    }

    .avatar {
        width: 24px;
        height: 24px;
        background-color: var(--binary-yellow-color);
        border:none;
        outline: none;
        border-radius: 12px;
        transition: .5s;
    }

    .avatar:hover {
        background-color: #deaa00;
        transition: .5s;
    }
    
    .avatar .user-name::before {
        content: var(--user-name);
    }

    .avatar > .user-name {
        visibility: hidden;
        margin-top: 2px;
        margin-left: 1.5px;
        color: white;
        font-family: "Gilroy Semibold";
    }

    .avatar > .user-name::first-letter {
        visibility: visible;
    }

    #dropdown {
        position: relative;
        z-index: 1000;
    }
    .menu {
        font-family: "Gilroy";

        padding: 5px;
        font-size: 12px;

        position: absolute;
        top: calc(.5* var(--header-height));
        left: calc(100% - var(--header-height));
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 100px;
        background: white;
        box-shadow: 0px 0px 3px 1px #a6a6a6;
        transform: translateY(-10px);
        transition: transform 0.4s ease;

        z-index: 1000;

        display: none;
    }

    .menu .user-name-full {
        font-size: inherit;
        height: 15px;
        border-bottom: solid 1px #c6c6c6;
    }

    .menu .user-name-full p::before {
        font-size: inherit;
        content: var(--user-name);
    }

    .menu ul {
        margin-top: 7px;
    }

    .avatar:focus + .menu {
        display: block;
        transform: translateY(0px);
        z-index: 1000;
    }

#binary-title-wr {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

    #binary-title {
        max-height: 30px;
    }

#header-holder-list {
    height: inherit;
    flex-grow: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main {
    box-sizing: border-box;
    height: 92vh;

    padding-top: calc(1.7*var(--header-height));
    padding-bottom: calc(.3*var(--header-height));

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #d9dce9;

    z-index: 65;
}

.cards-container {
    width: calc(100% - 2*var(--header-height));
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 35% 15%;
    grid-template-rows: repeat(8, 1fr);

    z-index: 99;
}

.card div {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

}
  
    .binary-studio {
        grid-row: 1/5; 
    }

        .binary-studio .flip-card-front, .flip-card-back {
            background: white;
        }

        .binary-studio button {
            width: 100px;
            height: 30px;
            background-color: var(--binary-blue-color);
            
            border: none;
            outline: none;
        }

        .binary-studio button a {
            text-decoration: none;
            color: white;
            font-family: "Gilroy";
        }

        .binary-studio img {
            height: 50%;
            width: 50%;
        }

    .js {
        grid-column: 2;
        grid-row: 1/7;
        
        color: black;
    }

        .js .flip-card-front {
            background: #f0c269;

            justify-content: flex-end;
            align-items: flex-end;

            font-family: "Gilroy Semibold";
            font-size: 60px;
        }

        .js .flip-card-back {
            font-family: "Gilroy Semibold";
            align-items: flex-start;
            text-align: start;
        }

        .js .flip-card-back p {
            margin: 5px 10px 5px 10px;
        }

    .php {
        grid-column: 3/-1;
        grid-row: 1/4;
    }

        .php .right-corner-hide-card-front{
            font-family: "Gilroy Italic";
            font-size: 50px;
            color: white;
            background: #8893c0;
        }

        .php .right-corner-hide-card-back {
            background: white;
            align-items: flex-start;
        }

        .php .right-corner-hide-card-back p {
            margin: 10px;

            font-family: "Gilroy Semibold";
            color: black;
        }

    .qa {
        grid-column: 1;
        grid-row: 5/-1;
        
        color: white;
    }

        .qa .flip-card-front {
            background: #51bb79;

            justify-content: center;
            align-items: center;

            font-family: "Gilroy";
            font-size: 40px;
        }

        .qa .flip-card-back {
            font-family: "Gilroy Semibold";
            align-items: flex-start;
            text-align: start;
        }

        .qa .flip-card-back p {
            color: black;
            margin: 5px 10px 5px 10px;
        } 

    .java {
        grid-column: 2;
        grid-row: 7/-1;
    }

        .java .squeeze-card-front{
            background: #da2e4b;
            
            font-family: "Gilroy Semibold";
            font-size: 30px;
            color: white;
        }

        .java .squeeze-card-back {
            background: white;

            align-items: flex-start;
            text-align: start;
        }

        .java .squeeze-card-back > p {
            font-family: "Gilroy Semibold";
            margin: 5px;
        }

    .net {
        grid-column: 3;
        grid-row: 4/-1;        
    }

        .net .left-corner-hide-card-front {
            background: #492876;
            font-family: "Gilroy";
            font-size: 70px;
            color: white;
        }

        .net .left-corner-hide-card-back {
            background: white;

            align-items: flex-start;
            text-align: start;
        }

        .net .left-corner-hide-card-back p {
            font-family: "Gilroy Semibold";
            margin: 10px;
        }

    .events {
        grid-column: 4;
        grid-row: 4/ span 2;
    }

        .events .left-slide-card-front {
            background: #2d99fe;
            font-family: "Gilroy";
            font-size: 15px;
            color: white;
        }

        .events .left-slide-card-back {
            background: white;
            overflow-x: hidden;
            overflow-y: scroll;

            align-items: flex-start;
            text-align: start;
        }

        .events .left-slide-card-back p {
            top:20px;
            margin-left: 5px; 
            font-size: 10px;
            font-family: "Gilroy Semibold";
        }

    .blog {
        grid-column: 4;
        grid-row: 6 / span 2;
    }

        .blog .right-slide-card-front {
            background: #0443a3;
            font-family: "Gilroy";
            font-size: 15px;
            color: white;
        }

        .blog .right-slide-card-back {
            background: white;
        }

        .blog .right-slide-card-back p {
            margin: 5px;

            font-size: 10px;
            font-family: "Gilroy Semibold";
        }

    .contacts {
        grid-column: 4;
        grid-row: 8;
    }

        .contacts .left-slide-card-front {
            background: #00255f;
            font-family: "Gilroy";
            font-size: 15px;
            color: white;
        }

        .contacts .left-slide-card-back {
            background: white;
        }

    .icon-wr {
        padding: 7px;
    }

    .icon-wr svg {
        height: 20px;
        width: 20px;
        fill: #000;
    }

    #facebook-icon:hover {
        transition: .5s;
        fill: #3b5998;
    }

    #instagram-icon:hover {
        transition: .5s;
        fill: #c13584;
    }

    #telegram-icon:hover {
        transition: .5s;
        fill: #0088CC;
    }

#message-box {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 180px;

    z-index: 300;
}

.msg {
    margin: 10px;
    padding: 5px;
    position: relative;
    z-index: 301;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: .7;
    border-radius: 6px;

    font-family: "Gilroy";
    font-size: 12px;
    color: white;
}

.msg > * {
    margin-left: 2px;
    margin-right: 2px;
}

.msg svg {
    height: 15px;
    width: 15px;
    fill: white;
}

.msg-content {
    max-width: 70%;
}

.msg-error {
    background-color: #ff1a1a;
}

.msg-error .msg-content p {
    font-family: "Gilroy Semibold";
    font-size: 14px;
}

.msg-error .msg-content p::before {
    content: "Error";
}

.msg-info {
    background-color: green;
}

.msg-info .msg-content p {
    font-family: "Gilroy Semibold";
    font-size: 14px;
}

.msg-info .msg-content p::before {
    content: "Success";
}


footer {
    background: #d9dce9;

    height: 8vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Girloy";

    z-index: 101;
}

footer a {
    text-decoration: none;
    color: #d9dce9;
}

footer * {
    z-index: 102;
}

@media (max-width: 960px) {
    .cards-container {
        width: calc(100% - var(--header-height));
        height: 100%;

        display: grid;
        grid-template-columns: 43% 7% 30% 20%;
        grid-template-rows: repeat(9, 1fr);

        z-index: 99;
    }

    .binary-studio {
        grid-column: 1;
        grid-row: 1/6;
    }

    .js {
        grid-row: 1/6;
        grid-column: 2/4;
    }

    .events {
        grid-row: 1/3;
        grid-column: 4;
    }

    .blog {
        grid-row: 3/5;
        grid-column: 4;
    }

    .contacts {
        grid-row: 5/6;
        grid-column: 4;
    }

    .java {
        grid-row: 6/8;
        grid-column: 1/3;
    }

    .qa {
        grid-row: 8/-1;
        grid-column: 1/3;
    }

    .php {
        grid-row: 6/8;
        grid-column: 3/-1;
    }

    .net {
        grid-row: 8/-1;
        grid-column: 3/-1;
    }
}